.social-list {
    display: flex;
    justify-content: space-between;
  }
  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #2196f3;
  }
  .social-list-link:hover .social-list-icon,
  .social-list-link:focus .social-list-icon {
    fill: #ffffff;
  }
  .footer-social {
    margin-left: 70px;
  }
  .footer-list-social {
    display: flex;
  }
  .footer-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: #2196f3;
  }
  .footer-social-list-icon {
    fill: #ffffff;
  }
  .social-list-item:not(:last-child) {
    margin-right: 10px;
  }